@import url('/node_modules/@vitelib/component-library/style.css');
.card-wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border: 1px solid ;
    gap: 10px;
}

.icon-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 50px;
    background-color: antiquewhite;

}
.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.text-content{
    font-size: 15px;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid;
    padding: 20px;
    margin: 20px;   
}
.header{
    font-size: 25px;
    font-weight: 500;
}

.fields-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0px;
}
.label-text{
    width: 150px;
}

.input-text{
    width: 150px;
    
}
input{
    height: 20px;
    border-radius: 5px;
}

button{
    width: min-content;
}


.data-display{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.color-palette-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    flex-wrap: wrap;
}
.color-palette{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    flex-wrap: wrap;
}

.color-card{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
    border: 1px solid transparent;
}
/* .color-card:nth-child(odd){
    border: 1px solid blue;
}

.color-card:nth-child(even){
    border: 1px solid red;
} */

.color-card:hover{
    border: 1px solid black;
}


.fixed-header {
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
  }
  
  .scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .fixed-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 50px;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  }
  